# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist
build

# Project Specific
output/
auth.json
*.log

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# System
.DS_Store
Thumbs.db
